.*
*.conf
*.db
*.json
*.log
*.sqlite
*.txt
*.pyc
*.xml

config/www/*.mp3
config/www/*.png
config/www/*.jpg

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
